//? Бєк-дроп з модальним вікном (backdrop & modal)
.backdrop-add-edit-developer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.no-scroll {
    overflow: hidden;
}

.modal-add-edit-developer {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: max-content;
    min-height: max-content;
    padding: 24px;
    text-align: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #9c9c9c;
}

.save-input:hover {
    background-color: #ddad00;
}

#post-title-id {
    font-size: 1.5em;
}


//? form
.form-add-edit-developer {
    background-color: #fff;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    
        &__title {
            margin-bottom: 10px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 1.4rem;
            text-align: center;
            // color: crimson;
            color: #9c0000;
        }

        &__image-box {
            margin-bottom: 20px;
        }

        // & label {
        //     display: block;
        //     margin-top: 10px;
        //     font-weight: 600;
        // }

        & input {
            width: 100%;
            padding: 6px;
            margin-bottom: 10px;
            text-align: left;
            color: brown;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        & input::placeholder {
            /* font-weight: 400; */
            /* font-size: smaller; */
            font-style: italic;
            color: gray;
        }

        //? buttons
        & button {
            margin: 0 auto 20px;
        }
        &__btn-add-edit-developer {
            @include btn(#969600);
        }
        &__btn-delete-developer {
            @include btn(#960000);
        }
        &__btn-cancel-developer {
            @include btn(#009600);
        }
}
