.backdrop-confirm-for-removal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    z-index: 5;

    &.is-hidden {
        opacity: 0;
        pointer-events: none;
    }
}

// .is-hidden {
//     opacity: 0;
//     pointer-events: none;
//     visibility: hidden;
// }


.no-scroll {
    overflow: hidden;
}


.modal-confirm-for-removal {
    position: absolute;
    top: 50%;
    left: 50%;
    // width: 300px;
    // height: 100px;
    max-width: max-content;
    min-height: max-content;
    padding: 24px;
    text-align: center;
    border-radius: 10px;
    transform: translate(-50%, -50%);
    background-color: #c9fffb;

    & h3 {
        margin-bottom: 20px;
    }

    &__developer-name-deleted {
        font-size: 1.2em;
    }

    //? buttons
    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    &__btn-delete {
        @include btn(#960000);
    }
    &__btn-cancel {
        @include btn(#009600);
    }
    & button {
        width: 100px;
    }
}
